<!-- 
<div class="loginbg">
    <div class="row"> -->
      
          
  
        <!-- <div class="container " >
          <div class="admin"><h2> Administrator Login</h2></div>
          <div class="rowform"> -->
            <!-- <form class="admin-form" [formGroup] = "adminForm" (ngSubmit)= "onSubmit(adminForm)"> -->
            <!-- <form class="admin-form">
              <mat-form-field class="adminform">
                <input matInput placeholder="Enter your username" [formControl]="usernameFormControl"
                [errorStateMatcher]="matcher"> -->
  
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
  
                <!-- <mat-error class="errormessage" *ngIf="usernameFormControl.hasError('username') 
                && !usernameFormControl.hasError('required')"> Please enter a valid username
                </mat-error>
                <mat-error class="errormessage" *ngIf="usernameFormControl.hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
   -->
                <!-- <div class="alert alert-danger" *ngIf= "adminForm.get('username').hasError('required') 
          && adminForm.get('username').touched"> Enter your Firstname
    </div>
    <div class="alert alert-danger" *ngIf= "adminForm.get('username').hasError('minlength')
          && adminForm.get('username').touched"> Firstname should be minimum 5 characters
    </div>
    <div class="alert alert-danger" *ngIf= "adminForm.get('username').hasError('maxlength')
          && adminForm.get('username').touched"> Firstname should be maximum 15 characters
    </div> -->
              
<!--             
              </mat-form-field>
      
              <mat-form-field class="adminform">
                <input matInput placeholder="Enter your password" [formControl]="passwordFormControl"
                [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                 -->
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
  
                <!-- <mat-error class="errormessage" *ngIf="passwordFormControl.hasError('password') 
                && !passwordFormControl.hasError('required')"> Please enter a valid password 
                </mat-error>
                <mat-error class="errormessage" *ngIf= "passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
              
              </mat-form-field>
  
              <div class="forgot">
                
                  <mat-checkbox>Remember me!</mat-checkbox>
                
                
                  <a class="forgotpwd" routerLink="\Forgot Password" (click)="forgotpassword">Forgot password?</a>
                
              </div><br>
              
              <div class="pull-right loginbtn">
                  
                  <input type="button" class="btn btn-success" value="Submit" (click) = "submit();">
              </div>
            
                
            </form>
            <div>
  
            </div>
           
             
            
          </div>
        </div>
    </div>
  </div> -->